<div class = "col-md-6 offset-md-3">
    
    <h3>Update Employee</h3>
    <div style="margin-top: 10px;"></div>
    
    <form (ngSubmit) = "onSubmit()">
        <div class = "form-group">
            <label> First Name</label>
            <div style="margin-top: 10px;"></div>
                <input type = "text" class = "form-control" id= "firstName"
                [(ngModel)] = "employee.firstName" name= "firstName">
    
                
        </div>
        <div style="margin-top: 10px;"></div>
    
        <div class = "form-group">
            <label>Last Name</label>
            <div style="margin-top: 10px;"></div>
                <input type = "text" class = "form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
                
        </div>
        <div style="margin-top: 10px;"></div>
    
        <div class = "form-group">
            <label>Email Id</label>
            <div style="margin-top: 10px;"></div>
                <input type = "text" class = "form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId">
                  
        </div>
        <div style="margin-top: 10px;"></div>
    
        <button class = "btn btn-success" type = "submit"> Submit </button>
    
        
    </form>
    </div>